@charset "UTF-8";
@font-face {
	font-family: "Helvetica";
}

@import "config/settings";
@import "foundation";
h4 {
	font-weight: bold;
}
.fg-logo {
	margin: .5rem;
	max-height: 90px;
}
.top-bar-container {
	margin-bottom: 0 !important;
}

section.container {
	height: 100vm;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
}


.splash {
	background :
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../assets/img/images/IMG_20140102_135321742.jpg);
	background-size: cover;
	height: 100vh;
	max-height: 900px;
	position:relative;


	.splash-title {
		position: absolute;
		top:30%;
		left: 50%;
	 	-ms-transform: translate(-50%, -50%); /* IE 9 */
		-webkit-transform: translate(-50%, -50%); /* Safari */
	 	transform: translate(-50%, -50%);

	  span {
			background-color: $primary-color;
			color: #fff;
		 	font-weight: bold;
		 	font-size: rem-calc(30);
		 	display: inline;
		 	padding: 0.5rem;

		 	-webkit-box-decoration-break: clone;
		 	box-decoration-break: clone;
	  }
	}
  .splash-panels {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    .panel {
			min-height: 180px;
    }
  }

}

.splash-social {

	i {
		color : $secondary-color;
		font-size: 2rem;
		padding: .5rem;
	}
}

article.format-standard {
	header {
		min-height: 30px;
		padding: 0.5rem;
		h2 a, a {
			color : #333;
		}
		.author {
			display: none;
		}
	}
}
.widget-easy-twitter-feed-widget-container h6 {
	font-size : 1.4375em;
	line-height : 1.4;
	font-weight: bold;
}

.top-panels {
	height: 100%;
  // padding:                  0 !important;
	// clear: both;
	//
	li {
		position: relative;
	}
	// .panel-1 {
	// 	min-height: 400px;
	// 	height: 90%;
	// 	float: left;
	// }
	.panel-2, .panel-3 {
		height: 45%;
	}

	  /* https://gist.github.com/jordandobson/715124 */
	  /* Border & Vignette Setup */
  figure{
    position:               relative;
    display:                block;
    line-height:            0;
    width:                  100%;
    // -webkit-box-shadow:     0 .1em .3em rgba(0,0,0,.5);
    // -moz-box-shadow:        0 .1em .3em rgba(0,0,0,.5);
  }

  figure::before{
    content:                "";
    position:               absolute;
    top:                    -1em;
    bottom:                 -1em;
    left:                   -1em;
    right:                  -1em;

  }

  /* Overlay Method */

  figure::after{
    position:               absolute;
    top:                    0;
    bottom:                 0;
    left:                   0;
    right:                  0;
    content:                "";
    z-index:                2;

    pointer-events:         none; /* "all" disables mouse access to image */

    /* Mozilla Setting */
    background-image:       -moz-radial-gradient(
                    center, circle contain, rgba(0,0,0,0) 125px, rgba(0,0,0,.25) 250px
    );

    /* Webkit Setting */
    background-image:       -webkit-gradient(
                    radial, 50% 50%, 125, 50% 50%, 250, from(rgba(0,0,0,0)), to(rgba(0,0,0,.25))
    );
  }

  article.format-gallery {
    min-height: 50px;
    header h2 {
      background-color: $primary-color;
      padding: 0.5rem;
      position: absolute;
      top: 5%;
      left: 8%;
      z-index: 98;

      a {
        color: $white;
      }
    }
    time {
      display: none;
    }
    .author {
      display: none;
    }
    .article-content-position {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      -ms-transform: translate(-50%, -50%); /* IE 9 */
      -webkit-transform: translate(-50%, -50%); /* Safari */
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 98;
			background-color: rgba(30, 30, 30, 0.5);
    }
    .article-content {
      color: #fff;
      font-weight: bold;
      font-size: rem-calc(14);
      display: inline;
      text-align: center;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}
.inner-wrap>footer {
	background-color: #333;

	ul {
		padding: .5rem;
		list-style : none;
		li {
			color: #fff;
			display: inline-block;
			a {
				width: 50%;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: #fff;
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}
	i {
		color : $white;
		font-size: 2rem;
		background-color: $secondary-color;
		padding: .5rem 1rem;
		max-width: 5rem;
	}
	iframe {
		background-color: #fff;
		padding: 1rem;
	}
}
h6, h4, .widget-easy-twitter-feed-widget-container h6 {
	text-transform : uppercase;
	padding: 0.5rem;
	font-size: 2rem;
	line-height: 2.5rem;
	color: $primary-color;
	font-weight: bold;
}
h4 {
	font-size: 1.5;
}

.widget-easy-twitter-feed-widget-row, .news-post {
	padding-left: 1rem;
	border-left: 1px solid #ccc;
}
.news-header {
	padding-left : 0;
}
article.format-standard {
	.entry-content {
		padding: 0.5rem;
	}
}
.ctn-top-bar {
  background-color: $secondary-color;
  text-align: center;
  line-height: 1.2rem;
  h3 {
    display: inline;
    font-size: .9rem;
    width: 100%;
    color: #fff;
  }
  p {
    display: inline-block;
    font-size: .8rem;
    color: #fff;
    margin-bottom: 0;
  }

  i {
    color: #fff;
    right: 10px;
  }
}
